body {
  background-color: gray;
}

.grid {
  width: 400px;
  height: 600px;
  margin: auto;
  background: linear-gradient(rgb(154, 214, 248), rgb(1, 91, 165));
  position: relative;
  font-size: 200px;
  text-align: center;
}

.doodler {
  width: 60px;
  height: 85px;
  background-image: url(psyduck3.png);
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background-image: url(platform.png);
  border-radius: 10px;
  position: absolute;
}
